// custom styles

// local vars
$action-item-width: 267px;
$popup-max-width: 800px;
$popup-m: 80px;

.siteone {
  background-color: var(--color-2-grey);

  // action wrapper
  &__action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  // action item
  &__action-item {
    flex-basis: 100%;
    width: $action-item-width;
    max-width: $action-item-width;
    margin-bottom: var(--gap-default);
    margin-left: var(--gap-small);
    margin-right: var(--gap-small);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    font-size: 1rem;

    @include respond(desktop) {
      margin-bottom: 0;
      font-size: 1.25rem;
      flex-basis: 20%;
      flex-grow: 1;
    }
  }

  &__action-item-text {
    padding-top: var(--gap-small);
    padding-bottom: var(--gap-small);
    @include respond(desktop) {
      padding-top: var(--gap-medium);
      padding-bottom: var(--gap-medium);
    }
  }


  // pop-up
  &__popup {
    background-color: var(--color-7-grey);
    display: flex;
    justify-content: center;
  }

  // pop-up wrapper
  &__popup-wrap {
    position: relative;
    margin-top: $popup-m;
    margin-bottom: $popup-m;
    margin-right: var(--gap-default);
    margin-left: var(--gap-default);
    max-width: $popup-max-width;
    background-color: var(--color-white);
  }

  // pop-up wrapper inner
  &__popup-wrap-inner {
    overflow: hidden;
  }

  // pop-up icon close
  &__popup-close {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    background-color: var(--color-green);
    border: solid 1px var(--color-green-dark);
    background-size: 32px;
    background-image: url('../img/svg/ico-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--box-shadow-btn);
    transition: background-color var(--transition-speed), transform var(--transition-speed), box-shadow var(--transition-speed);
    cursor: pointer;
    &:hover {
      border: solid 1px var(--color-green);
      box-shadow: none;
      transform: rotate(90deg);
    }
  }

  // offer time remaining
  &__time-remaining {
    font-weight: 100;
    &--ico-clock,
    &--ico-bell {
      margin-left: var(--gap-small);
      margin-right: var(--gap-small);
      &::before {
        content: '';
        width: var(--icon-size);
        height: var(--icon-size);
        display: inline-block;
        position: relative;
        top: 7px;
      }
    }
    &--ico-clock::before {
      background: url('../img/svg/ico-clock.svg') no-repeat center;
    }
    &--ico-bell::before {
      background: url('../img/svg/ico-bell.svg') no-repeat center;
    }
  }

  // banner
  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 900;
    background-color: var(--color-2-grey);

    @include respond(tablet) {
      font-size: 3rem;
      flex-direction: row;
    }
  }
  &__banner-text {
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
    @include respond(tablet) {
      margin-bottom: 0;
    }
  }

  // ul
  &__list {
    margin: 0; // reset
    padding: 0; // reset
    list-style: none;
  }

  // li
  &__list-item {
    padding-top: var(--gap-tiny);
    padding-bottom: var(--gap-tiny);
    border-bottom: 1px solid var(--color-5-grey);
    line-height: 2;
  }

  // hyperlinks
  &__link {
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--color-text);
    transition: color .25s ease;
    display: inline-block;

    // ico
    &::after {
      content: '';
      display: inline-block;
      width: var(--icon-size);
      height: var(--icon-size);
      margin-left: 10px;
      background: url('../img/svg/ico-link.svg') no-repeat 0 5px;
      transition: background-position var(--transition-speed);
    }

    @include respond(tablet) {
      line-height: 1.19;
    }

    // hover state animation
    &:hover {
      text-decoration: none;
      color: var(--color-green);
      &::after {
        background-position: -5px 5px;
      }
    }
  }
}
