// general styles

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: var(--color-text);
}

img {
  width: 100%;
}

p {
  font-weight: 300;
  line-height: 1.69;
  letter-spacing: .3px;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-header);
  margin: 0 0 var(--gap-small) 0;
}

h1 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
  @include respond(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}


// buttons
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--gap-default);
  margin-left: var(--gap-default);
  padding: 12px 24px 12px 16px;
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow-btn);
  background-color: var(--color-2-grey);
  border: solid 1px rgba(0, 0, 0, .1);
  height: 50px;
  text-decoration: none;
  transition: background-image var(--transition-speed);
  cursor: pointer;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,.05));

  &:hover .icon-wrapper {
    transform: translateY(3px);
  }

  // button label - what does the button says
  &__label {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-shadow: var(--text-shadow-btn);
    color: var(--color-header);
  }

  // modificators
  //green button
  &--green {
    background-color: var(--color-green);
    border: solid 1px var(--color-green-dark);
    &:hover .icon-wrapper {
      transform: translateX(6px);
    }
  }
  &--wide {
    width: 90%;
    @include respond(tablet) {
      width: auto;
      min-width: 190px;
    }
  }
}


// atomic classes & helpers

// sets background color to white
.bg-w {
  background-color: var(--color-white);
}

// text align center
.tac {
  text-align: center;
}

// sets color to green
.green {
  color: var(--color-green);
}

// rules for section
.sc {
  margin: 20px 25px 40px;
  @include respond(tablet) {
    margin: 40px 50px 50px;
  }
}

// border-radiused
.rounded {
  border-radius: var(--border-radius-default);
}
.rounded-more {
  border-radius: var(--border-radius-big);
}

// flex center
.flex-center {
  display: flex;
  justify-content: center;
}

// margin-top
.mt {
  margin-top: 20px;
  @include respond(tablet) {
    margin-top: 40px;
  }
}

// margin-bottom
.mb {
  margin-bottom: 20px;
  @include respond(tablet) {
    margin-bottom: 40px;
  }
}

// icon
.icon-wrapper {
  transition: transform var(--transition-speed);
  display: flex;
}
