// typography

html {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  font-size: 16px; // fallback
  font-size: 1rem;
}

// headings
h1 {
  font-weight: 100;
  line-height: 1.33;
  font-size: 8vw;
  @include respond(tablet) {
    font-size: 2.25rem;
  }
}

h2 {
  font-weight: 500;
  line-height: 1.46;
  font-size: 6.5vw;
  @include respond(tablet) {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 500;
  line-height: 1.55;
  font-size: 5.5vw;
  @include respond(tablet) {
    font-size: 1.25rem;
  }
}
