// variables

:root {
  // color palette
  --color-white: #ffffff;
  --color-1-grey: #f9f9fa;
  --color-2-grey: #f2f2f2;
  --color-5-grey: #dadde1;
  --color-6-grey: #969696;
  --color-7-grey: rgba(0, 0, 0, .75);
  --color-header: #0a100d;
  --color-text: #41454b;
  --color-green: #99cc33;
  --color-green-dark: #709502;

  // dimensions
  --border-radius-default: 4px;
  --border-radius-big: 8px;
  --gap-default: 32px;
  --gap-medium: 24px;
  --gap-small: 16px;
  --gap-tiny: 8px;
  --icon-size: 24px;

  // shadows
  --box-shadow: 1px 7px 4px -4px rgba(0,0,0,.15);
  --box-shadow-btn: inset 1px 2px 0 0 rgba(255, 255, 255, .25);
  --text-shadow-btn: 1px 1px 1px rgba(255, 255, 255, .5);

  // transitions
  --transition-speed: 150ms ease;
}
